@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(150px);

    }
    25% {
        transform: translateX(-200px);
    }
    50% {
        transform: translateX(20px);
    }
    75% {
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }
    100% {
        opacity: 0;
        transform: translateX(300px);
    }
}

.active {
    display: none;
}

.toast-fade-in {
    animation: fadeIn 1.6s ease-in-out forwards;
}

.toast-fade-out {
    animation: fadeOut 0.4s;
    pointer-events: none;
}